/*!--------------------------------------------------------------------------*/
/*!                                 Settings                                 */
/*!                      Helper functions, global tools                      */
/*!--------------------------------------------------------------------------*/

:root {
    --color-alpha: #de4831;
    --color-beta: #e1decb;
    --color-dark: #221e21;
    --gutter: 24px;

}

/*!--------------------------------------------------------------------------*/
/*!                                  Tools                                   */
/*!                    @mixins (fonts, animations, etc..)                    */
/*!--------------------------------------------------------------------------*/


@import url('https://fonts.googleapis.com/css?family=Sarabun:400,500,700');


/*!--------------------------------------------------------------------------*/
/*!                                 Generic                                  */
/*!                        Resets, Normalize.css, etc.                       */
/*!--------------------------------------------------------------------------*/


body {
    line-height: 1.6;
    color: var(--color-dark);
    font-family: 'Sarabun', sans-serif;
    font-size: 17px;
}

/*!--------------------------------------------------------------------------*/
/*!                                Elements                                  */
/*!                      Styling for bare HTML elements                      */
/*!--------------------------------------------------------------------------*/

/*!--------------------------------------------------------------------------*/
/*!                                 Objects                                  */
/*!                          OOCSS, Design patterns.                         */
/*!--------------------------------------------------------------------------*/



.o-grid {
    display: grid;
}

.o-hide {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*!--------------------------------------------------------------------------*/
/*!                               Components                                 */
/*!                          Designed pieces of UI                           */
/*!--------------------------------------------------------------------------*/


.c-sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #e1decb;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: hidden;
    box-sizing: border-box;


}

.c-content {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #ffffff;
    /* display: flex;
    flex-direction: column;
    flex-wrap: wrap; */
    overflow-y: auto;
    overflow-x: hidden;

}

.c-menu__item {
    margin-top: var(--gutter);
    /* all: unset; */

}

.c-menu-list {

    list-style: none;
    padding: 0;
}

.c-sidebar__menu {}

.c-sidebar__header {
    display: flex;
    align-items: center;
}

.c-sidebar__header-image {
    width: 32px;
    height: 32px;
    margin-right: 12px;
}

.c-sidebar__header-text {
    /* font-size: 2rem;
    font-weight: 500; */

}

.c-content__countryblock {
    height: 100px;
    width: 250px;
    margin: var(--gutter);
}

.c-menu__link {
    background: none !important;
    color: var(--color-alpha);
    font-weight: 700;
    border: none;
    padding: 0 !important;
    /*border is optional*/
    cursor: pointer;
    margin: 0;
}



.c-country {
    display: block;
    opacity: 1;
    cursor: pointer;
}

input:checked+.c-country {
    opacity: 0.6;
}


.c-country-header {
    display: flex;
    align-items: center;
}

.c-country-header__name {
    font-size: 1.2rem;
    margin: 0;
}

.c-country-header__flag {
    display: block;
    width: auto;
    height: calc(var(--gutter) / 1.4);
    border-radius: 5px;
    margin-left: 8px;
}

.c-notificationcenter {}

/*!--------------------------------------------------------------------------*/
/*!                                Utilities                                 */
/*!                       Overrids, helpers, utilities                       */
/*!--------------------------------------------------------------------------*/


.u-grid-main-layout {
    grid-template-columns: 350px 1fr;
    grid-template-rows: 100vh;
}

.u-grid-overview {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    margin: calc(var(--gutter)*2);
}

.u-color__alpha {
    color: var(--color-alpha);
}